<div class="landing-page-slider-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div
            class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center"
          >
            <div class="from-bottom">
              <img
                class="d-inline-block w-200 mb-4"
                src="../../assets/image/dummy/landing-page/logo01.png"
                alt="Converse"
              />
              <div class="h2 text-body text-normal mb-2 pt-1">
                Chuck Taylor All Star II
              </div>
              <div class="h2 text-body text-normal mb-4 pb-1">
                for only
                <span class="text-bold">$59.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-single.html"
              >Shop Now</a
            >
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img src="../../assets/image/dummy/landing-page/01.png" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div
            class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center"
          >
            <div class="from-bottom">
              <img
                class="d-inline-block w-200 mb-4"
                src="../../assets/image/dummy/landing-page/logo02.png"
                alt="Converse"
              />
              <div class="h2 text-body text-normal mb-2 pt-1">
                Chuck Taylor All Star II
              </div>
              <div class="h2 text-body text-normal mb-4 pb-1">
                for only
                <span class="text-bold">$59.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-single.html"
              >Shop Now</a
            >
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img src="../../assets/image/dummy/landing-page/02.png" />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="container padding-top-3x">
        <div class="row justify-content-center align-items-center">
          <div
            class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center"
          >
            <div class="from-bottom">
              <img
                class="d-inline-block w-200 mb-4"
                src="../../assets/image/dummy/landing-page/logo03.png"
                alt="Converse"
              />
              <div class="h2 text-body text-normal mb-2 pt-1">
                Chuck Taylor All Star II
              </div>
              <div class="h2 text-body text-normal mb-4 pb-1">
                for only
                <span class="text-bold">$59.99</span>
              </div>
            </div>
            <a class="btn btn-primary scale-up delay-1" href="shop-single.html"
              >Shop Now</a
            >
          </div>
          <div class="col-md-6 padding-bottom-2x mb-3">
            <img src="../../assets/image/dummy/landing-page/03.png" />
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
