<div class="container">
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
      <a
        data-target="#travel"
        class="nav-link active"
        [ngClass]="{ active: activeTab === 'travel-tab' }"
        (click)="onClickTab('travel-tab')"
        data-toggle="tab"
        role="tab"
        >Travel</a
      >
    </li>
    <li class="nav-item">
      <a
        data-target="#product"
        class="nav-link"
        [ngClass]="{ active: activeTab === 'product-tab' }"
        (click)="onClickTab('product-tab')"
        data-toggle="tab"
        role="tab"
        >Product</a
      >
    </li>
    <li class="nav-item">
      <a
        data-target="#review"
        class="nav-link"
        [ngClass]="{ active: activeTab === 'review-tab' }"
        (click)="onClickTab('review-tab')"
        data-toggle="tab"
        role="tab"
        >Review</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div
      class="tab-pane fade"
      id="travel-tab"
      role="tabpanel"
      [ngClass]="{
        active: activeTab === 'travel-tab',
        show: activeTab === 'travel-tab'
      }"
    >
      <form [formGroup]="form">
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <label for="small-pill-input">Country to travel</label>
              <ng2-completer
                [inputClass]="'form-control form-control-sm'"
                formControlName="country"
                [datasource]="dataService"
                [minSearchLength]="0"
              ></ng2-completer>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="small-pill-input">Travel Period</label>
              <div class="input-group d-flex">
                <input
                  #myRangeInput
                  class="form-control"
                  placeholder="dd/mm/yyy"
                  name="d"
                  formControlName="model"
                  ngbDatepicker
                  [dayTemplate]="t"
                  [autoClose]="false"
                  [displayMonths]="2"
                  [maxDate]="maxDate"
                  [minDate]="minDate"
                  #d="ngbDatepicker"
                />

                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary m-0"
                    (click)="d.toggle()"
                    type="button"
                  >
                    <fa-icon [icon]="faCalendarAlt" size="lg" ></fa-icon>
                  </button>
                </div>
              </div>

              <ng-template #t let-date="date" let-focused="focused">
                <span
                  class="custom-day"
                  [class.range]="
                    isFrom(date) ||
                    isTo(date) ||
                    isInside(date) ||
                    isHovered(date)
                  "
                  [class.faded]="isHovered(date) || isInside(date)"
                  (click)="onDateSelection(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>

              <!-- <input
                class="form-control form-control-sm"
                [owlDateTime]="dt1"
                [owlDateTimeTrigger]="dt1"
                [selectMode]="'range'"
                placeholder="Date Range"
              />
              <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time> -->
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <a
                class="btn btn-primary"
                data-target="#"
                (click)="onClickContinue('travel-tab')"
                >Continue</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
    <div
      class="tab-pane fade"
      id="product-tab"
      role="tabpanel"
      [ngClass]="{
        active: activeTab === 'product-tab',
        show: activeTab === 'product-tab'
      }"
    >
      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <a
              class="btn btn-secondary"
              data-target="#"
              (click)="onClickBack('product-tab')"
              >Back</a
            >
            <a
              class="btn btn-primary"
              data-target="#"
              (click)="onClickContinue('product-tab')"
              >Continue</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="review-tab"
      role="tabpanel"
      [ngClass]="{
        active: activeTab === 'review-tab',
        show: activeTab === 'review-tab'
      }"
    >
      <div class="row">
        <div class="col-12">
          <p>
            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art
            party before they sold out master cleanse gluten-free squid
            scenester freegan cosby sweater. Fanny pack portland seitan DIY, art
            party locavore wolf cliche high life echo park Austin. Cred vinyl
            keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table
            VHS viral locavore cosby sweater. Lomo wolf viral, mustache
            readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia
            freegan.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a
            class="btn btn-secondary"
            data-target="#"
            (click)="onClickBack('review-tab')"
            >Back</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
