<header class="navbar navbar-sticky">
  <app-search></app-search>

  <div class="site-branding">
    <div class="inner">
      <a class="site-logo">
        <img src="assets/image/shoppingu-logo.png" alt="Shoppingu">
      </a>
    </div>
  </div>

  <nav class="site-menu">
    <ul>
      <li class="has-megamenu">
        <a href="#">
          <span>Category</span>
        </a>
        <ul class="mega-menu">
          <li>
            <span class="mega-menu-title">All Categories</span>
            <ul class="sub-menu">
            </ul>
          </li>
          <li>
            <section class="promo-box">
              <span class="overlay-dark" style="opacity: .4;"></span>
              <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                <h4 class="text-light text-thin text-shadow">New Collection of</h4>
                <h3 class="text-bold text-light text-shadow">Sunglasses</h3>
                <a class="btn btn-sm btn-primary" href="#">Shop Now</a>
              </div>
            </section>
          </li>
          <li>
            <section class="promo-box">
              <span class="overlay-dark" style="opacity: .45;"></span>
              <div class="promo-box-content text-center padding-top-2x padding-bottom-2x">
                <h3 class="text-bold text-light text-shadow">Limited Offer</h3>
                <h4 class="text-light text-thin text-shadow">save up to 50%!</h4>
                <a class="btn btn-sm btn-primary" href="#">Learn More</a>
              </div>
            </section>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <span>Post Request</span>
        </a>
      </li>
      <li>
        <a (click)="travel()">
          <span>Post Travel</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>How it works</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Login</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Register</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Account</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div class="search">
          <i class="icon-search"></i>
        </div>
        <div class="account">
          <a href="#"></a>
          <i class="icon-head"></i>
          <ul class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-ava">
              </div>
              <div class="user-info">
                <h6 class="user-name">User Name</h6>
              </div>
            </li>
            <li>
              <a href="#">My Profile</a>
            </li>
            <li>
              <a href="#">Orders List</a>
            </li>
            <li>
              <a href="#">Wishlist</a>
            </li>
            <li class="sub-menu-separator"></li>
            <li>
              <a href="#"><i class="icon-unlock"></i>Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
